<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Hub</title>
  </head>
  <body>
    <h1>Welcome back - <%= users.username %></h1>
    <a href="/">Kembali ke halaman utama</a>

    <!-- Joined Events -->
    <h1>Joined Events</h1>
    <% if (users.joinedEvents.length != 0) { %>
    <ul>
      <% for (let event of users.joinedEvents) { %> <% const date =
      String(event.date.getDate()).padStart(2, '0'); const month =
      String(event.date.getMonth() + 1).padStart(2, '0'); const year =
      event.date.getFullYear(); %>
      <li><%= event.title %> - <%= `${date}/${month}/${year}` %></li>
      <% } %>
    </ul>
    <% } else { %>
    <h2>Not yet joined any events!</h2>
    <% } %>

    <!-- Created Events -->
    <h1>Created Events</h1>
    <% if (events) { %>
    <ul>
      <% for( let event of events ) { %>
      <li><%= event.title %> - <%= event.description %></li>

      <!-- Edit link -->
      <a href="/dashboard/events/<%= event._id %>">Edit Event</a>

      <!-- Delete Button -->
      <form action="/events/<%= event._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
      </form>

      <% } %>
    </ul>
    <% } else { %>
    <h2>Not yet created any events!</h2>
    <% } %>

    <!-- Create an event -->
    <a href="/events/new">Buat Event</a>

    <form action="/dashboard" method="post">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
